@font-face {
	font-family: Go Banana;
	src: url(assets/GoBanana.ttf);
}

@font-face {
	font-family: Sports Jersey;
	src: url(assets/sportsjersey.ttf);
}

body {
	margin-left: 0px;
}

h1 {
	font-family: Sports Jersey;
	font-size: min(20vw, 96pt);
	line-height: 5px;
}

/*input[type=range] {
	width: 20%;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
}*/

/*input[type=range]::-moz-range-track {
	height: 5px;
}*/

#footer {
	font-size: 12pt;
	font-family: Go Banana;
	padding-top: 120px;
	line-height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.beastieNumber {
	font-family: Sports Jersey;
	font-size: min(32pt, 4vw);
}

.beastieNumber.ranking {
	font-size: min(36pt, 6vw);
}

.beastieNumber .hash, .percent {
	font-family: sans-serif;
	font-weight: 800;
	font-size: .8em;
	color: black;
}

.beastieName {
	font-family: Go Banana;
	font-size: min(32pt, 4vw);
	color: black;
}

.beastieName.ranking {
	font-size: min(36pt, 6vw);
}

#parent {
	display: flex;
	flex-direction: column;
	height: min(60vh, 500px);
	width: 100vw;
	margin-left: 0px;
}

#mainAppChoice {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	height: 100%;
	min-height: min(500px, 40vw);
}

#mainAppFinished {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	width: 100%;
}

#bottomStats {
	font-family: Go Banana;
	font-size: min(32pt, 5vw);
	line-height: 70%;
	padding-top: 16px;
	
	flex-grow: 1;
	width: auto;
}

#rankingCountText {
	font-size: min(24pt, 4.5vw);
	line-height: 105%;
}

@keyframes buttonGlowLeft {
	0% { background-color: red;}
	50% { background-color: hsl(0, 100%, 77%);}
	100% { background-color: red; }
}

@keyframes buttonGlowRight {
	0% { background-color: deepskyblue;}
	50% { background-color: hsl(195, 100%, 80%); }
	100% { background-color: deepskyblue; }
}

.beastieButton {
	border: 4px solid;
	border-radius: 10%;

	/*width: 300px;
	height: 500px;*/
	/*max-width: 500px;
	max-height: 500px;*/
	width: min(500px, 40vw);
	height: min(500px, 40vw);
	aspect-ratio: 1/1;

	flex-grow: 0.5;
}

.beastieButton.left {
	background-color: red;
	border-color: darkred;
}

.beastieButton.right {
	background-color: deepskyblue;
	border-color: darkcyan;
}

.beastieButton.left:hover {
	animation: buttonGlowLeft;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.beastieButton.right:hover {
	animation: buttonGlowRight;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

img.beastieIcon {
	max-width: 75%;
	max-height: 75%;
}

img.beastieIcon.ranking {
	max-width: min(95%, 200px);
	max-height: min(95%, 200px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.beastieRankingList {
	display: block;
	flex-grow: 1;
}

.beastieRanking {
	border: 4px solid grey;
	background-color: darkgrey; /* WHY IS DARKGREY LIGHTER THAN GREY */
	border-radius: 24px;

	width: auto;
	height: min(250px, 20vh);

	display: flex;
	flex-direction: row;

	flex-grow: 1;
}

.beastieRankingNumber {
	font-family: Sports Jersey;
	font-size: min(72pt, 24vw);

	display: flex;
	justify-content: center;
	align-items: center;

	flex-grow: 0.2;
}

.beastieRankingIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.beastieRankingName {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 4%;

	flex-grow: 0.6;
}

.spacer {
	flex-grow: 1;
	min-width: 5vw;
	min-height: 20px;
}
